<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Hello</h1>
	<!-- <form action="/image" method="post">
		<input type="file">
		<button type="submit">Upload</button>
	</form> -->
	<form  action ="#">
    	<div>
 		    <input type="file" accept="image/*" name="photo">
    		<button id="btnSubmit" >Upload</button>
    	</div>
</form>
<div id="output"></div>
<script type="text/javascript">
	const url = 'http://localhost:5000/'
	const btnSubmit = document.querySelector('#btnSubmit')

	window.addEventListener('DOMContentLoaded', init)

	function init(){
		btnSubmit.addEventListener('click',upload)
	
	}

	function upload(ev){
		ev.preventDefault()
		const formData = new FormData();
		const fileField = document.querySelector('input[type="file"]');

		formData.append('username', 'abc123');
		formData.append('avatar', fileField.files[0]);
		console.log(formData)
		fetch(url, {
		  method: 'PUT',
		  body: formData
		})
		.then(response => response.json())
		.then(result => console.log('Success:', result))
		.catch(error =>  console.error('Error:', error))

	}

</script>
 
</body>
</html>